*.suo
*.user
*.userosscache
*.sln.docstates
.idea
Sectra.AccessPortal.*.xml
packages/
deliverables/

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

.vs/
/wwwroot/dist/

**/dist
**/pycache
node_modules/
**/.mypy_cache